
.post{
    display:flex;
    flex-direction: column;
    height:100%;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.best-performing-post{

    display: flex;
    flex-direction: column;
    height: 80px;
    border-radius: 20px;
}

.worst-performing-post{

    display: flex;
    flex-direction: column;
    height: 80px;
    border-radius: 8px;
}